<div class="container mood px-4 px-lg-5 vh-auto">
  <div class="m-5 text-center text-4xl font-mono">
    <h3>Privacy Policy</h3>
  </div>
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-10 col-lg-10 mx-auto mb-5">
      <p clas="mb-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
      </p>
      <ol>
        <li>Something</li>
        <li>Something</li>
      </ol>
    </div>
  </div>
</div>
